<body style=" background: url('https://assets.yellowtrace.com.au/wp-content/uploads/2014/04/Joseph-Dirand-Paris-Apartment-Yellowtrace-04.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="row justify-content-center">
  <div class="card mt-3">
    <article class="card-body">
      <a href="/users/sign_in" class="float-right btn btn-outline-primary">Sign in</a>
      <h4 class="card-title mb-4 mt-1">Sign up</h4>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
