
    <div class="container">
      <div class="row">

          <div class="card shadow-sm">
            <% flat.photos.each do |photo| %>
                <%= link_to flat_path(flat) do %>
              <%= cl_image_tag photo.key, height: 100, class: "image-fluid" %>
                <% end %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= flat.city %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <%= link_to flat_path(flat) do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <% end %>
                  <%# <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> %>
                </div>
                <small class="h4 fw-bold m-0">£<%= flat.price %></small>
              </div>
            </div>
          </div>

      </div>
    </div>

