<%= form_for(@booking) do |f| %>
<%# @booking, @flat %>
<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <form action="/home">
        <h2 class="text-center mb-5">Create a booking</h2>
        <div class="form-row">
          <div class="form-group ml-2 w-100">
            <%= f.label :start_date %>
            <%= f.date_field :start_date, class: 'form-control' %>
          </div>
          <div class="form-group ml-2 w-100">
            <%= f.label :end_date %>
            <%= f.date_field :end_date, class: 'form-control' %>
          </div>
          <%= f.submit class: 'btn btn-primary btn-lg w-100', style: 'margin: 5px' %>
      </form>
      <a href="/flats" class="btn btn-primary btn-lg w-100" style="background-color: red; border-color: red; margin: 5px" role="button" aria-pressed="true">Cancel</a>
    </div>
  </div>
</div>
<% end %>
