<main role="main">

  <section class="text-center">
    <div class="container">
      <h1 style="color: white">Your bookings</h1>
    </div>
  </section>

  <body style=" background: url('https://media.architecturaldigest.com/photos/59c01c74eabdd92dfd3b9ed9/16:9/w_2560%2Cc_limit/1017-AD-DIRA01-01_sq.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <% @bookings.each do |booking| %>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= cl_image_path booking.flat.photos.first.key %>" class="w-100">
              </div>
              <div class="col-md-8">
            <div class="card-body text-center">
              <p class="card-text text-center" style="font-weight: bold"><%= booking.flat.city %></p>
              <p class="card-text">Start: <%= booking.start_date %></p>
              <p class="card-text">End: <%= booking.end_date %></p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                <%= link_to booking_path(booking) do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <% end %>
                <%= link_to "Cancel this booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel booking?" }, class: "btn btn-sm btn-outline-secondary mx-3" %>
                </div>
              </div>
            </div>
    </div>
  </div>




          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
