<main role="main">

  <section class="text-center">
    <div class="container">
      <h1 style="color: white">Your bookings</h1>
    </div>
  </section>

  <body style=" background: url('https://media.architecturaldigest.com/photos/59c01c74eabdd92dfd3b9ed9/16:9/w_2560%2Cc_limit/1017-AD-DIRA01-01_sq.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @bookings.each do |booking| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text text-center" style="font-weight: bold"><%= booking.id %>. <%= booking.flat.city %></p>
              <p class="card-text">Start: <%= booking.start_date %></p>
              <p class="card-text">End: <%= booking.end_date %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <%= link_to booking_path(booking) do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
