<div class="container">

  <body style=" background: url('<%= cl_image_path @booking.photos.first.key %>') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">

    <div class="card mb-4 shadow-sm text-center" style="opacity: .8">
      <div class="card-body">
        <h3>Congratulations, you succesfully created a booking</h3>
        <p> Start: <%= @booking.start_date %></p>
        <p> End: <%= @booking.end_date %></p>
      </div>
    </div>

    <div class="text-center">
      <%= link_to "Back to home page", root_path, class: "btn btn-sm btn-outline-secondary", style: "background-color: white; opacity: .8" %>
      <%= link_to "Cancel this booking", booking_path(@booking), method: :delete, data: { confirm: "Are you sure you want to cancel booking?" }, class: "btn btn-sm btn-outline-secondary", style: "background-color: white; opacity: .8" %>
    </div>


</div>
